@charset "UTF8";
@import url('https://fonts.googleapis.com/css2? family= Dancing+Script & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Dancing+Script & família= Paixão+Um & display=swap');


:root{
    --fonte1:Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:'Dancing Script', cursiva;
    --fonte3:'Passion One', cursiva;
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
    color: chocolate;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 40px;
    line-height: 2em;
    font-family: var(--fonte3);
    
}

section > p{
    padding-bottom: 2em;
    padding: 15px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(49, 47, 47);
    color: white;
}

section.imagem >p{
    background-color: black;
    width: 200px;
    text-shadow: 2px 2px 2px black;
}

section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-attachment: fixed;
}

section#img02{
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
    background-attachment: fixed;
}



footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}